.env
volumes
.DS_Store
data
.venv

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.pot
*.mo
*.manifest
*.spec
*.coverage
.cache
.pytest_cache/
.mypy_cache/
.tox/
.coverage.*
nosetests.xml
coverage.xml
*.sqlite3
*.db
*.ipynb_checkpoints