{% extends 'base.jinja' %}

{% block title %}Home - Alcoves{% endblock %}

{% block page_content %} {# Use the new page_content block #}
<h1>Hello World!</h1>
<p>Welcome to my first Django project!</p>

<button class="btn">Click Me</button>
{% endblock %}