{% extends 'layout.jinja' %}

{% block title %}Alcoves{% endblock %}

{% block page_content %}

{# Pass the initial page_obj from the view #}
{% include "partials/asset-timeline.jinja" with page_obj=page_obj %}

{% endblock %}