<div class="flex flex-wrap gap-2" id="asset-timeline" hx-get="{% url 'asset_timeline' %}"
  hx-trigger="assets-created from:body" hx-target="this" hx-swap="innerHTML">
  {% if assets %}
  {% for asset in assets %}
  {% include "partials/asset-item.jinja" %}
  {% endfor %}
  {% endif %}
</div>