<div class="flex flex-wrap gap-1" id="asset-timeline" hx-trigger="assets-created from:body" hx-target="this"
  hx-swap="innerHTML">
  {# Include the first page initially #}
  {% include "partials/asset-items-page.jinja" %}
</div>