<div class="w-full h-screen flex items-center justify-center bg-base-300 border-2 border-base-200 rounded-lg">
  <div class="p-4 max-h-screen">
    {% if asset %}
    <img class="rounded-xl shadow-xl max-h-[90vh] object-contain opacity-0 transition-opacity duration-100"
      src="/api/assets/{{ asset.id }}?width=1920" alt="here" onload="this.classList.remove('opacity-0')">
    {% else %}
    <p class="text-3xl">Asset not available</p>
    {% endif %}
  </div>
</div>