<div id="asset-{{ asset.id }}" class="relative h-full cursor-pointer"
  onclick="window.location.href='/preview/{{ asset.id }}'">
  <img class="rounded-sm w-full h-full object-cover shadow-sm" src="/api/assets/{{ asset.id }}?width=400"
    alt="{{ asset.filename }}" />
</div>