<dialog id="upload_modal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Upload</h3>
    <form id="upload-form" hx-post="{% url 'create-asset' %}" hx-swap="afterbegin" hx-target="#asset-timeline"
      hx-encoding='multipart/form-data' hx-on:asset-created="upload_modal.close(); this.reset();">
      {% csrf_token %}
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Media</span>
        </label>
        {{ form.file }}
        {% if form.file.errors %}
        <label class="label text-error">
          {{ form.file.errors }}
        </label>
        {% endif %}
      </div>
      {% if form.file.errors %}
      <label class="label">
        <span class="label-text-alt text-error">
          {{ form.file.errors.0 }}
        </span>
      </label>
      {% endif %}
      <div class="modal-action">
        <button type="button" class="btn" onclick="upload_modal.close()">Close</button>
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </form>
  </div>
</dialog>