<div class="bg-base-300 max-w-md w-90 mx-auto mt-10 p-6 rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-4">Login</h2>
  <form method="post">
    <div class="mb-4">
      <label for="email" class="block text-sm font-medium mb-1">Email</label>
      <input type="text" name="email" id="email" class="input input-bordered w-full" required>
      <p class="text-error text-xs mt-1"></p>
    </div>
    <div class="mb-4">
      <label for="password" class="block text-sm font-medium mb-1">Password</label>
      <input type="password" name="password" id="password" class="input input-bordered w-full" required>
      <p class="text-error text-xs mt-1"></p>
    </div>
    <button type="submit" class="btn btn-primary w-full">Login</button>
  </form>
  <p class="mt-4">Don't have an account? <a href="/register" class="link">Register</a></p>
</div>