package components

const (
	AssetTypeFolder  string = "folder"
	AssetTypeFilePDF string = "pdf"
	AssetTypeFile    string = "txt"
	AssetTypeImage   string = "image"
)

type Asset2 struct {
	Name string
	Type string
}

type AssetsData2 struct {
	Assets []Asset2
}

var assets = []Asset2{
	{Name: "documents", Type: AssetTypeFolder},
	{Name: "Coachella 2024 Timestamps", Type: AssetTypeFile},
	{Name: "Drivers's License.pdf", Type: AssetTypeFilePDF},
	{Name: "Rosie The Puppy!", Type: AssetTypeImage},
}

templ IconAndName(name string, filetype string) {
	<div class="flex w-full">
		<div class="ml-2 mr-4 h-full flex items-center justify-center">
			switch filetype {
				case AssetTypeFolder:
					@FolderIcon("22", "22", "1.5")
				case AssetTypeFilePDF:
					@TextFileIcon("22", "22", "1.5")
				case AssetTypeFile:
					@FileIcon("22", "22", "1.5")
				case AssetTypeImage:
					@ImageFileIcon("22", "22", "1.5")
				default:
					@FileIcon("22", "22", "1.5")
			}
		</div>
		<div class="truncate">
			{ name }
		</div>
	</div>
}

templ Assets() {
	<div>
		<div class="breadcrumbs text-sm">
			<ul>
				<li><a>Home</a></li>
				<li><a>Documents</a></li>
				<li>Add Document</li>
			</ul>
		</div>
		<div class="overflow-x-auto">
			<table class="table table-auto w-full">
				<thead>
					<tr>
						<th class="text-left">Name</th>
						<th class="w-[120px] whitespace-nowrap">Size</th>
						<th class="w-[160px] whitespace-nowrap">Modified</th>
						<th class="w-[50px] whitespace-nowrap">
							@SortIcon("18", "18", "3")
						</th>
					</tr>
				</thead>
				<tbody>
					for _, asset := range assets {
						<tr class="h-10 max-h-10">
							<td>
								@IconAndName(asset.Name, asset.Type)
							</td>
							<td>
								<div>
									10 Items
								</div>
							</td>
							<td>Dec 23, 2023</td>
							<td>
								@MoreIcon("18", "18", "2")
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}
