package components

templ Root(title string, theme string) {
	<!DOCTYPE html>
	<html lang="en" data-theme={ theme }>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<script type="module" src="/js/datastar.js"></script>
			<link href="/css/daisyui.css" rel="stylesheet" type="text/css"/>
			<script src="/js/tailwindcss.js"></script>
		</head>
		<body class="w-screen h-screen overflow-hidden">
			{ children... }
		</body>
	</html>
}
