package components

import "github.com/rustyguts/alcoves/internal/models"
import "fmt"
import "github.com/starfederation/datastar-go/datastar"

type SidebarData struct {
	Libraries       []models.Library
	ActiveLibraryID string
}

func getLibraryURL(publicID string) string {
	return fmt.Sprintf("/libraries/%s", publicID)
}

templ SidebarLibraries(data SidebarData) {
	<div id="sidebar-libraries">
		<ul class="menu menu-md text-base-content gap-1 w-full px-2 pt-0">
			for _, lib := range data.Libraries {
				<li>
					<a
						href={ templ.SafeURL(getLibraryURL(lib.PublicID)) }
						data-on:click.prevent={ datastar.GetSSE("/libraries/%s?_fragment=1&push=1", lib.PublicID) }
						class={ "flex items-center gap-2 truncate", templ.KV("bg-primary/20", lib.PublicID == data.ActiveLibraryID) }
					>
						if lib.IsPersonal {
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path><path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path></svg>
						} else {
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z"></path></svg>
						}
						{ lib.Name }
					</a>
				</li>
			}
		</ul>
	</div>
}

templ RenameLibraryModal() {
	<div data-show="$renamingLibrary !== ''" style="display: none">
		<div class="modal modal-open z-50">
			<div class="modal-box">
				<h3 class="font-bold text-lg">Rename Library</h3>
				<div class="py-4">
					<input
						type="text"
						data-bind:renameValue
						placeholder="New name"
						class="input input-bordered w-full"
						data-on:keydown.enter="@put('/libraries/rename')"
					/>
				</div>
				<div class="modal-action">
					<button type="button" class="btn" data-on:click="$renamingLibrary = ''">Cancel</button>
					<button type="button" class="btn btn-primary" data-on:click="@put('/libraries/rename')">Save</button>
				</div>
			</div>
			<div class="modal-backdrop" data-on:click="$renamingLibrary = ''"></div>
		</div>
	</div>
}
