package components

templ ContentLoading() {
	<div class="flex items-center justify-center h-full">
		<span class="loading loading-spinner loading-lg"></span>
	</div>
}

templ HomeContent() {
	<div class="flex items-center justify-center h-full">
		<h1 class="text-2xl font-bold text-base-content/70">In Progress</h1>
	</div>
}

templ Home(data LayoutData) {
	@Layout(data) {
		<div data-init="@get('/?_fragment=1')">
			@ContentLoading()
		</div>
	}
}
